@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

:root {
	/* base colors */
	--background-color: rgba(47, 19, 1, 1);
	--fadebackground-color: #1e1e1e;
	--shadedbackground-color: #a4a3a3;
	--stroke-color: #dca007;
	--shadow-color: #000000b2;
	--shade-color: #020202;
	--text-color: #ada446;
	--inactive-text-color: #6c6836;
	--highlight-color: #0ef;

	/* animations */
	--left: 0px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background: var(--fadebackground-color);
}

header {
	position: absolute;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav {
	display: block;
	padding: 10px;
	margin: 10px;
}

nav a.navbar-link {
	position: relative;
	font-size: 1.1em;
	color: var(--inactive-text-color);
	text-decoration: none;
	padding: 6px 20px;
	transition: color 0.5s;
}

nav a.navbar-link:hover {
	color: var(--highlight-color);
}

nav a span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-bottom: 2px solid var(--highlight-color);
	border-radius: 15px;
	transform: scale(0) translateY(50px);
	opacity: 0;
	transition: 0.5s;
}

nav a:hover span {
	transform: scale(1) translateY(0);
	opacity: 1;
}

/* Hamburger */

.menu-toggle {
	display: none;
}

#hamburger {
	width: 80%;
	position: fixed;
	top: 20px;
	display: none;
	z-index: 4;
}

#hamburger input {
	width: 120%;
	height: 120%;
}

#hamburger ul {
	position: relative;
	transform: skewY(-15deg);
}

#hamburger ul li {
	margin: 2px;
	position: relative;
	list-style: none;
	width: 200px;
	background: var(--shade-color);
	padding: 15px;
	z-index: var(--i);
	transition: 0.5s;
}

#hamburger ul li:hover {
	background: var(--highlight-color);
	transform: translateX(50px);
}

#hamburger ul li:last-child::after {
	box-shadow: -100px 100px 20px var(--shadow-color);
}

#hamburger ul li::before {
	content: "";
	position: absolute;
	top: 0;
	left: -40px;
	width: 40px;
	height: 100%;
	background: var(--shade-color);
	transform-origin: right;
	transform: skewY(45deg);
	transition: 0.5s;
}

#hamburger ul li:hover::before {
	background: var(--highlight-color);
}

#hamburger ul li::after {
	content: "";
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	height: 40px;
	background: var(--shade-color);
	transform-origin: bottom;
	transform: skewX(45deg);
	transition: 0.5s;
}

#hamburger ul li:hover::after {
	background: var(--highlight-color);
}

#hamburger ul li a {
	text-decoration: none;
	color: var(--inactive-text-color);
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.05s;
	transition: 0.5s;
}

#hamburger ul li:hover a {
	color: var(--background-color);
}

.hamburger {
	cursor: pointer;
}

.hamburger .bar {
	width: 60px;
	height: 6px;
	background-color: var(--inactive-text-color);
	margin: 5px 0;
	transition: all 0.3s;
}

#nav-menu {
	display: none;
	transition: opacity 0.4s ease;
	z-index: 4;
}

.menu-toggle:checked + .hamburger #bar1 {
	transform: rotate(45deg);
	top: 15px;
}

.menu-toggle:checked + .hamburger #bar2 {
	opacity: 0;
}

.menu-toggle:checked + .hamburger #bar3 {
	transform: rotate(-45deg);
	top: -10px;
}

.menu-toggle:checked ~ #nav-menu {
	display: block;
	opacity: 0.9;
	transition: opacity 0.4s ease;
}

/* Banner */
.banner-container {
	position: absolute;
	top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
}

.banner-container .engineer {
	width: 40%;
	max-width: 400px;
	flex-grow: 1;
	transform: translateX(10%);
	transition: 0.7s;
	position: relative;
	perspective: 1000px;
	transition: transform 0.7s ease-out;
	transform: translateX(-5%);
}

/* Reflection effect using ::before */
.banner-container .engineer::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 20px;
	box-shadow: 0px 20px 20px var(--shade-color);
	transform-origin: bottom;
	bottom: 0;
	transition: 0.5s;
	border-radius: 50%;
}

.banner-container .engineer:hover::before {
	opacity: 0.5;
}

.banner-container .engineer:hover {
	transform: translateY(-10%);
	z-index: 2;
}

#feather {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: transparent;
}

/* Responsiveness */
@media (max-width: 768px) {
	#hamburger {
		display: block;
	}

	.banner-container {
		flex-direction: column;
		align-items: center;
		gap: 10px;
		padding: 20px;
		width: 100%;
		margin: 0;
	}

	nav {
		display: none;
	}
}
